
@{
    ViewBag.Title = "Instancias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">


</div>


@section Scripts
    {
    @Scripts.Render("~/bundles/InvInstancias?r=" + DateTime.Now.ToString("ddmmyymiss"))
}
