
@{
    ViewBag.Title = "FactorCambio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <div class="row mb-2">
        <div class="col-12">
            <h2>Factor Cambio</h2>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12">
            <button type="button" class="btn btn-success" id="BtnAgregar">Agregar</button>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12">

            <style>
                .table td, th {
                    margin: 2px;
                    font-size: 13px;
                    padding: .15rem;
                }
            </style>

            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tasa del dia</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="TableFactorCambio">
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="ModalFactorCambio">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Editar/Agregar Factor</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Fecha</span>
                        </div>
                        <input type="text" class="form-control" id="TxtFecha">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Tasa del dia</span>
                        </div>
                        <input type="text" class="form-control" id="TxtTasa">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="BtnGuardar">Guardar</button>
                    <button type="button" class="btn btn-danger" id="BtnCerrar">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

</div>



@section Scripts
    {
    @Scripts.Render("~/bundles/FactorCambio")
}