
@{
    ViewBag.Title = "Existencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">


    <div class="row mt-2">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Producto</span>
                </div>
                <input id="CodProd" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">PrinAct</span>
                </div>
                <input id="PrinAct" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-3">
            <button id="BtnFiltrar" type="button" class="btn btn-info w-100">Filtrar</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">

            <style>
                .table td, th {
                    margin: 2px;
                    font-size: 13px;
                    padding: .15rem;
                }
            </style>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo </th>
                        <th>Descripcion</th>
                        <th>Existen</th>
                        <th>Id Principio Activo</th>
                        <th>Principio activo</th>
                        <th>Detalle</th>
                        <th>Equivalentes</th>
                    </tr>
                </thead>
                <tbody id="TableProdxPrincAct">
                </tbody>
            </table>
        </div>
    </div>

    <style>
        .modal-dialog {
            max-width: 900px;
            margin: 1.75rem auto;
        }
    </style>

    <!-- The Modal -->
    <div class="modal fade" id="ModalProdxPrincAct">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Asignar principio activo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <label id="LblProd"></label>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">PrinActAsig</span>
                                    </div>
                                    <input id="PrinActAsig" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-3">
                                <button id="BtnAsignar" type="button" class="btn btn-success w-100">Asignar</button>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id Principio Activo</th>
                                            <th>Principio activo</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TableProdxPrincActDetalle">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="BtnCerrarModal" type="button" class="btn btn-danger">Cerrar</button>
                </div>

            </div>
        </div>
    </div>



    <!-- The Modal -->
    <div class="modal fade" id="ModalEquivalentes">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Equivalentes</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mt-1">
                            <div class="col-12">
                                <div class="input-group mb-3 input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Existen</span>
                                    </div>
                                    <input id="Existen" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <button id="BtnBuscarEquivalentes" type="button" class="btn btn-info">Filtrar</button>
                            </div>
                            <input id="CodprodEquiv" type="hidden" class="form-control" />
                        </div>
                        <div class="row mt-1">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>CodProd</th>
                                            <th>Descripcion</th>
                                            <th>Existencia</th>
                                            <th>Principio Activo</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TableEquivalentes">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="BtnCerrarModalEquivalentes" type="button" class="btn btn-danger">Cerrar</button>
                </div>

            </div>
        </div>
    </div>





</div>


@section Scripts
    {
    @Scripts.Render("~/bundles/EquivProductos?r=" + DateTime.Now.ToString("ddmmyymiss"))
}