
@{
    ViewBag.Title = "Totales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">


    <div class="row mt-2">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Clasificacion</span>
                </div>
                <select id="SelClas" class="form-control">
                    <option value="T" selected> Todos</option>
                    <option value="S">Con Existencia</option>
                    <option value="N">Existencia Cero</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Principio Activo</span>
                </div>
                <input id="PrinAct" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-3">
            <button id="BtnFiltrar" type="button" class="btn btn-info w-100">Filtrar</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">

            <style>
                .table td, th {
                    margin: 2px;
                    font-size: 13px;
                    padding: .15rem;
                }
            </style>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id </th>
                        <th>Principio activo</th>
                        <th>Presentacion</th>
                        <th>Productos</th>
                        <th>Existen</th>
                        <th>Equivalentes</th>
                    </tr>
                </thead>
                <tbody id="TableTotalesProdxPrincAct">
                </tbody>
            </table>
        </div>
    </div>

    <style>
        .modal-dialog {
            max-width: 900px;
            margin: 1.75rem auto;
        }
    </style>

    <!-- The Modal -->
    <div class="modal fade" id="ModalEquivalentes" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Equivalentes</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mt-1">
                            <input id="PrinActEquiv" type="hidden" class="form-control" />
                            <input id="PresEquiv" type="hidden" class="form-control" />
                        </div>
                        <div class="row mt-1">
                            <div class="col-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>CodProd</th>
                                            <th>Descripcion</th>
                                            <th>Principio Activo</th>
                                            <th>Presentacion</th>
                                            <th>Existencia</th>
                                            <th>Costo</th>
                                            <th>Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TableEquivalentes">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="BtnCerrarModalEquivalentes" type="button" class="btn btn-danger">Cerrar</button>
                </div>

            </div>
        </div>
    </div>


</div>



@section Scripts
    {
    @Scripts.Render("~/bundles/EquivTotales?r=" + DateTime.Now.ToString("ddmmyymiss"))
}