
@{
    ViewBag.Title = "Detalle";
}

@Scripts.Render("~/bundles/chart")

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Producto</span>
                </div>
                <input id="CodProd" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-3">
            <button id="BtnFiltrar" type="button" class="btn btn-info w-100">Filtrar</button>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-12">

        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Promedio</th>
                    <th>Existen</th>
                    <th>Minimo</th>
                    <th>Maximo</th>
                    <th>Diferencia</th>
                </tr>
            </thead>
            <tbody id="TableDetalle">
            </tbody>

        </table>



    </div>


</div>

<div class="row" >
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body pt-1 pb-5" style="height: 500px !important">
                <h5 class="card-title">Grafico de venta mensual</h5>
                <canvas id="ChPromedioMensual"></canvas>
            </div>
        </div>
    </div>
</div>










@section Scripts
    {
    @Scripts.Render("~/bundles/InvDetalle")
}
